<h1>Add Airplane to the Flight</h1>
<% @phlight=Phlight.find(params[:phlight_id]) %>
<% Airplane.where(show: true).each do |a| %>
<%=a.name%>
<%@scon=Seatconfig.find(a.seatconfig_id) %>
<%=@scon.name%>
<%=render @scon.seatcats%>
<%= link_to "Add Airplane", addplane1_path(:airplane_id=> a.id, :phlight_id=> @phlight.id), class:"btn btn-outline-success"%>
<%end%>
