<div class="col-sm-6 center">
  <h3><%=booking.price%></h3>
<h4>Booking: <%=booking.id%></h4>
<%@flight=Phlight.find(booking.flight_id)%>
<h5>Flight: <%=@flight.id%></h5>
<%@airplane=Airplane.find(@flight.airplane_id)%>
<%@scon= Seatconfig.find(@airplane.seatconfig_id)%>
<%@secat=@scon.seatcats.order(:id)%>
<%@secat.each do |se|%>
<% @st=se.seats.order(:id) %>
<%@st.each do |a|%>

<%if a.booking_id==booking.id%>
<div class="seatcontainer-light">
<div class="hidden">.</div></div>
<%else%>
<div class="seatcontainer-dark">
<div class="hidden">.</div></div>
<%end%>
<%if a.position=== "aisle" && Seat.find((a.id+1)).position==="aisle"%>
<div class="seatcontainer-empty">
<div class="hidden">.</div></div>
<%end%>
<%if a.number % a.break==0%>
<br>
<%end%>
<%end%>
<br>
<%end%>
<br>
<%if current_user===User.find(booking.user_id)%>
<%= link_to "Modify Booking", modifybooking_path(:booking_id=> booking.id), class:"btn btn-outline-info"%>
<%else%>
<%end%>
</div>
