/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


.bodycontainer{
  padding-left: 20%;
  padding-right: 20%;
}
.form-control{
  width: 100%;
}
.seatcontainer-dark{
  display: inline-block;
  height:20px !important;
  width: 20px !important;
  background-color: #b3b3b3;
  border:none !important;
  box-shadow: none !important;
}
.link{
a{
  color:#000;
}
a:hover{
  text-decoration: none !important;
}
}
.seatcontainer-light{
  display: inline-block;
  height:20px !important;
  width: 20px !important;
  background-color: #bc4949;
}
.seatcontainer-your{
  display: inline-block;
  height:20px !important;
  width: 20px !important;
  background-color: green;
}
.seatcontainer-empty{
  display: inline-block;
  height:20px !important;
  width: 20px !important;
  background-color: #fff;
}
 .seat{
   display: inline-block !important;
   height:20px !important;
   width: 20px !important;
 }
 .center{
   text-align: center;
 }
 .fdetails{
   background-color: #f7f7f7;
 }
 .fd{
   background-color: #fafafa;
 }
 .centerf{
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
 }
 .navbar{
   margin-bottom:3%;
 }
 .colchange{
   background-color: #49a6bc !important;
 }
 .colchangerem{
   background-color: #000 !important;
 }
 .hidden{
   opacity: 0;
 }
