<br>
<div class="col-sm-6">
<h3>
<%= seatconfig.name%>
</h3>
<%= render seatconfig.seatcats.all %>
<%= link_to "Add", addconfig1_path(:airplane_id=>@airplane.id, :seatconfig_id=> seatconfig.id), class:"btn btn-outline-success"%>
<br>
</div>
