
<h1 class="center">New Seat Configuration</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
<%= form_for(@seatconfig, url: newseatconfig_path) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
<br>
<div class="center">
    <%= f.submit "Create Seat Configuration", class: "btn btn-outline-info btn-lg" %>
</div>
  <% end %>
</div>
</div>
