<h1>Show of seatconfig</h1>
<% @seatconfig= Seatconfig.where(show: true) %>
<% @seatconfig.each do |s|%>
<h3><%= s.name %></h3>
<%= render s.seatcats %>
<br>
<%= link_to "Add Category", newseatcat_path(:seatconfig_id => s.id), class:"btn btn-outline-success"%>
<br>
<br>
<br>
<%end%>
