<div class="center">
<h1>Seat Configuration</h1>
<br>
<% @seatconfig= Seatconfig.where(show: true) %>
<div class="row">
<% @seatconfig.each do |s|%>
<div class="col-sm-6">
<h3><%= s.name %></h3>
<%= render s.seatcats %>
<br>
<%= link_to "Add Category", newseatcat_path(:seatconfig_id => s.id), class:"btn btn-outline-success"%>
<br>
<br>
<br>
</div>
<%end%>
</div>
</div>
